:root {
  --dark: #002A32;
  --light: #B9314F;
  --accent: #F5E6E8;
}

body {
  margin: auto;
  width: fit-content;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

